html { 
 position:relative; 
 min-height:100%;
}
body {
    background: rgba(252,236,252,1);
background: -moz-linear-gradient(45deg, rgba(252,236,252,1) 0%, rgba(245,196,230,1) 28%, rgba(235,174,216,1) 80%, rgba(255,124,216,1) 97%, rgba(255,124,216,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(252,236,252,1)), color-stop(28%, rgba(245,196,230,1)), color-stop(80%, rgba(235,174,216,1)), color-stop(97%, rgba(255,124,216,1)), color-stop(100%, rgba(255,124,216,1)));
background: -webkit-linear-gradient(45deg, rgba(252,236,252,1) 0%, rgba(245,196,230,1) 28%, rgba(235,174,216,1) 80%, rgba(255,124,216,1) 97%, rgba(255,124,216,1) 100%);
background: -o-linear-gradient(45deg, rgba(252,236,252,1) 0%, rgba(245,196,230,1) 28%, rgba(235,174,216,1) 80%, rgba(255,124,216,1) 97%, rgba(255,124,216,1) 100%);
background: -ms-linear-gradient(45deg, rgba(252,236,252,1) 0%, rgba(245,196,230,1) 28%, rgba(235,174,216,1) 80%, rgba(255,124,216,1) 97%, rgba(255,124,216,1) 100%);
background: linear-gradient(45deg, rgba(252,236,252,1) 0%, rgba(245,196,230,1) 28%, rgba(235,174,216,1) 80%, rgba(255,124,216,1) 97%, rgba(255,124,216,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8', GradientType=1 );
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
    min-width:900px;
    margin-top: -15px;
}
a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: red;
   }
a:hover {
    color: black;
}
#menu {
   width: 694px;
   margin-left: 17%;
}
ul {
    display: block;
    padding: 0;
    list-style: none;
    width: 100%;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    padding-left: 23px;
    padding-right: 23px;
    color: black;
    font-family: 'Bad Script', cursive;
    font-size: 22pt;
}
ul.menu > li > a:hover {
    background-color: #EE82EE;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 164px;
    top: 78px;
    left: 0;
    background-color: white;
    
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 8px;
    color: black;
    background-color: #D8BFD8;
    text-decoration: none;
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: 11pt;
}
ul.submenu > li > a:hover {
    background-color: #EE82EE;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}
.mainjpg {
    max-width: 694px;
    width: 694px;
    margin-left: 17%;
    margin-top: -16px;
    clear: both;
    }
#container {
	width:848px;
	padding-top:110px;
	padding-bottom: 350px;
	margin:0 auto;
	position:relative;
	z-index:0;
}
#example {
	width:600px;
	height:350px;
	position:relative;
}
#frame {
	position:absolute;
	z-index:0;
	width:900px;
	height:600px;
	top:-3px;
	left:-80px;
}

#slides {
	position:absolute;
	top:31px;
	left:24px;
	z-index:100;
}

#slides .next,#slides .prev {
	position:absolute;
	top:207px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

.slides_container {
	width:690px;
	height:470px;
	overflow:hidden;
	position:relative;
}

#slides .next {
	left:685px;
}

.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}
#footer {
 clear:both;
 height: 100px; 
 background: #EE82EE;
 position: relative;
 bottom: 1px;
 width: 694px;
 max-width: 1920px;
 margin-left: 17%;
}
#address {
    float: left;
    width: 215px;
    padding-left: 35px;
    font-family: 'Kurale', serif;
    font-size: 11pt;
    margin-top: 20px;
    line-height: 0.2;
}
#phone {
    float: left;
    width: 215px;
    font-family: 'Kurale', serif;
    font-size: 11pt;
    margin-top: 20px;
    line-height: 0.2;
}
#time {
    float: left;
    width: 215px;
    font-family: 'Kurale', serif;
    font-size: 11pt;
    margin-top: 20px;
    line-height: 0.2;
}
#address img {
    float: left;
    padding: 10px;
    width: 46px;
    height: 46px;
}
#phone img {
    float: left;
    padding: 10px;
    width: 46px;
    height: 46px;
}
#time img {
    float: left;
    padding: 10px;
    width: 46px;
    height: 46px;
}